{{- $pxBackupEnabled := .Values.pxbackup.enabled | default false }}
{{- $telemetryEnabled := .Values.pxbackup.telemetry.enabled | default false }}
{{- if and (eq $pxBackupEnabled true) (eq $telemetryEnabled true) }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: px-backup-log-upload-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: px-backup
    app.kubernetes.io/component: px-backup-telemetry
{{- include "px-central.labels" . | nindent 4 }}
data:
  ccm.yaml: |
    pure1:
      registration_endpoint: {{ .Values.pxbackup.telemetry.osbEndpoint }}/api/v2/register
      api_endpoint: {{ .Values.pxbackup.telemetry.osbEndpoint }}/api/v2
      proxy_endpoint: http://localhost:9092
      cert_path: /etc/pwx/pure1
      log_level: info
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: px-backup-envoy-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: px-backup
    app.kubernetes.io/component: px-backup-telemetry
{{- include "px-central.labels" . | nindent 4 }}
data:
  envoy.yaml: |
    admin:
      access_log_path: /tmp/admin_access.log
      address:
        socket_address:
          protocol: TCP
          address: 0.0.0.0
          port_value: 9092
    static_resources:
      listeners:
      - name: listener_0
        address:
          socket_address:
            protocol: TCP
            address: 0.0.0.0
            port_value: 9092
        filter_chains:
        - filters:
          - name: envoy.filters.network.http_connection_manager
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
              scheme_header_transformation:
                scheme_to_overwrite: https
              stat_prefix: ingress_http
              route_config:
                name: local_route
                virtual_hosts:
                - name: local_service
                  domains: ["*"]
                  routes:
                  - match:
                      prefix: "/"
                    route:
                      cluster: pure1_cluster
                      timeout: 300s
              http_filters:
              - name: envoy.filters.http.router
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
      clusters:
      - name: pure1_cluster
        connect_timeout: 30s
        type: LOGICAL_DNS
        dns_lookup_family: V4_ONLY
        lb_policy: ROUND_ROBIN
        load_assignment:
          cluster_name: pure1_cluster
          endpoints:
          - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: master-staging.portworx.dev
                    port_value: 443
        transport_socket:
          name: envoy.transport_sockets.tls
          typed_config:
            "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
            common_tls_context:
              tls_certificates:
              - certificate_chain:
                  filename: /etc/pwx/pure1/client.crt
                private_key:
                  filename: /etc/pwx/pure1/client.key
              validation_context:
                trusted_ca:
                  filename: /etc/pwx/pure1/ca.crt
---
{{- end }}

