{{/* Setting defaults if they are omitted. */}}
{{- $pxMonitorEnabled := .Values.pxmonitor.enabled | default false }}
{{- $deployDedicatedMonitoringSystem := .Values.pxbackup.deployDedicatedMonitoringSystem }}
{{- $isOpenshiftCluster := .Capabilities.APIVersions.Has "apps.openshift.io/v1" -}}
{{- $azureProxyEnabled := .Values.proxy.azureProxyEnabled | default false }}
{{- if eq $pxMonitorEnabled true }}
{{- if eq $deployDedicatedMonitoringSystem false }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: pxcentral-prometheus-operator
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: pxcentral-prometheus
{{- include "px-central.labels" . | nindent 4 }}
{{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: pxcentral-prometheus
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: pxcentral-prometheus
{{- include "px-central.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: pxcentral-prometheus
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: pxcentral-prometheus
{{- include "px-central.labels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources:
      - nodes
      - services
      - endpoints
      - pods
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources:
      - configmaps
    verbs: ["get"]
  - nonResourceURLs: ["/metrics", "/federate"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: pxcentral-prometheus
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: pxcentral-prometheus
{{- include "px-central.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: pxcentral-prometheus
subjects:
  - kind: ServiceAccount
    name: pxcentral-prometheus
    namespace: {{ .Release.Namespace }}
---
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: pxcentral-prometheus
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: pxcentral-prometheus
{{- include "px-central.labels" . | nindent 4 }}
spec:
  {{- if eq $azureProxyEnabled true }}
  podMetadata:
    annotations:
      kubernetes.azure.com/no-http-proxy-vars: "true"
  {{- end }}
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          {{- if .Values.nodeAffinityLabel }}
          - key: {{ .Values.nodeAffinityLabel }}
            operator: Exists
          {{- else }}
          - key: pxmonitor/enabled
            operator: NotIn
            values:
            - "false"
          {{- end }}
  containers:
  - args:
    - --web.console.templates=/etc/prometheus/consoles
    - --web.console.libraries=/etc/prometheus/console_libraries
    - --storage.tsdb.retention.time=24h
    - --config.file=/etc/prometheus/config_out/prometheus.env.yaml
    - --storage.tsdb.path=/prometheus
    - --web.enable-lifecycle
    - --web.route-prefix=/
    - --log.level=debug
    - --web.config.file=/etc/prometheus/web_config/web-config-custom.yaml
    env:
    - name: AUTH_SECRET
      valueFrom:
        secretKeyRef:
          name: pxc-backup-metrics
          key: metrics-token
    {{- include "proxy.noProxyEnv" . | nindent 4 }}
    image: {{ printf "%s/%s/%s:%s" .Values.images.prometheusImage.registry .Values.images.prometheusImage.repo .Values.images.prometheusImage.imageName .Values.images.prometheusImage.tag }}
    livenessProbe:
      exec:
        command:
        - sh
        - -c
        - wget {{ if .Values.proxy.httpProxy.noProxy }}--no-proxy{{ end }} http://localhost:9090/-/healthy --header="Authorization:Basic $AUTH_SECRET"
          -qO-
    name: prometheus
    readinessProbe:
      exec:
        command:
        - sh
        - -c
        - wget {{ if .Values.proxy.httpProxy.noProxy }}--no-proxy{{ end }} http://localhost:9090/-/ready --header="Authorization:Basic $AUTH_SECRET"
          -qO-
    startupProbe:
      exec:
        command:
        - sh
        - -c
        - wget {{ if .Values.proxy.httpProxy.noProxy }}--no-proxy{{ end }} http://localhost:9090/-/ready --header="Authorization:Basic $AUTH_SECRET"
          -qO-
    ports:
    - containerPort: 9090
      name: web
      protocol: TCP
  - args:
    - --listen-address=:8080
    - --reload-url=http://$(USERNAME):$(PASSWORD)@localhost:9090/-/reload
    - --config-file=/etc/prometheus/config/prometheus.yaml.gz
    - --config-envsubst-file=/etc/prometheus/config_out/prometheus.env.yaml
    - --watched-dir=/etc/prometheus/rules/prometheus-pxcentral-prometheus-rulefiles-0
    - --log-level=debug
    name: config-reloader
    env:
    - name: USERNAME
      valueFrom:
        secretKeyRef:
          key: username
          name: pxc-backup-metrics
    - name: PASSWORD
      valueFrom:
        secretKeyRef:
          key: password
          name: pxc-backup-metrics
    {{- include "proxy.noProxyEnv" . | nindent 4 }}
    ports:
    - containerPort: 8080
      name: reloader-web
      protocol: TCP
  replicas: 1
  evaluationInterval: 30s
  scrapeInterval: 30s
  logLevel: debug
  listenLocal: true
  volumeMounts:
    - mountPath: /etc/prometheus/web_config/web-config-custom.yaml
      name: web-config-custom
      readOnly: true
      subPath: web-config-custom.yaml
  volumes:
    - name: web-config-custom
      secret:
        defaultMode: 420
        secretName: pxc-backup-metrics
  serviceAccountName: pxcentral-prometheus
  {{- if .Values.images.pullSecrets }}
  imagePullSecrets:
    {{- range $sec := .Values.images.pullSecrets }}
    - name: {{ $sec | quote }}
    {{- end }}
  {{- end }}
  serviceMonitorSelector:
    matchExpressions:
    - key: prometheus
      operator: In
      values:
      - portworx
      - px-backup
  remoteWrite:
  - url: "http://pxcentral-cortex-nginx:80/api/prom/push"
  resources:
    requests:
      memory: 400Mi
  ruleSelector:
    matchLabels:
      prometheus: portworx
  {{- with .Values.tolerations }}
  tolerations:
  {{- toYaml . | nindent 4 }}
  {{- end }} 
---
{{- if eq $deployDedicatedMonitoringSystem false }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: pxcentral-prometheus-operator
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: pxcentral-prometheus
{{- include "px-central.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - extensions
    resources:
      - thirdpartyresources
    verbs: ["*"]
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs: ["*"]
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - alertmanagers
      - alertmanagers/finalizers
      - alertmanagerconfigs
      - prometheuses
      - prometheuses/finalizers
      - thanosrulers
      - thanosrulers/finalizers
      - servicemonitors
      - prometheusrules
      - podmonitors
      - probes
    verbs: ["*"]
  - apiGroups:
      - apps
    resources:
      - statefulsets
    verbs: ["*"]
  - apiGroups: [""]
    resources:
      - configmaps
      - secrets
    verbs: ["*"]
  - apiGroups: [""]
    resources:
      - pods
    verbs: ["list", "delete"]
  - apiGroups: [""]
    resources:
      - services
      - endpoints
    verbs: ["get", "create", "update"]
  - apiGroups: [""]
    resources:
      - nodes
    verbs: ["list", "watch"]
  - apiGroups: [""]
    resources:
      - namespaces
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: pxcentral-prometheus-operator
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: pxcentral-prometheus
{{- include "px-central.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: pxcentral-prometheus-operator
subjects:
  - kind: ServiceAccount
    name: pxcentral-prometheus-operator
    namespace: {{ .Release.Namespace }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    k8s-app: pxcentral-prometheus-operator
    app.kubernetes.io/component: pxcentral-prometheus
{{- include "px-central.labels" . | nindent 4 }}
  name: pxcentral-prometheus-operator
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      k8s-app: pxcentral-prometheus-operator
      app.kubernetes.io/component: pxcentral-prometheus
  template:
    metadata:
      {{- if eq $azureProxyEnabled true }}
      annotations:
        kubernetes.azure.com/no-http-proxy-vars: "true"
      {{- end }}
      labels:
        k8s-app: pxcentral-prometheus-operator
        app.kubernetes.io/component: pxcentral-prometheus
{{- include "px-central.labels" . | nindent 8 }}
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              {{- if .Values.nodeAffinityLabel }}
              - key: {{ .Values.nodeAffinityLabel }}
                operator: Exists
              {{- else }}
              - key: pxmonitor/enabled
                operator: NotIn
                values:
                - "false"
              {{- end }}
      containers:
        - args:
            - -namespaces={{ .Release.Namespace }}
            - --kubelet-service={{ .Release.Namespace }}/kubelet
            - --prometheus-config-reloader={{ printf "%s/%s/%s:%s" .Values.images.prometheusConfigReloadrImage.registry .Values.images.prometheusConfigReloadrImage.repo .Values.images.prometheusConfigReloadrImage.imageName .Values.images.prometheusConfigReloadrImage.tag }}
          image: {{ printf "%s/%s/%s:%s" .Values.images.prometheusOperatorImage.registry .Values.images.prometheusOperatorImage.repo .Values.images.prometheusOperatorImage.imageName .Values.images.prometheusOperatorImage.tag }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          name: pxcentral-prometheus-operator
          {{- if .Values.proxy.httpProxy }}
          env:
          {{ include "proxy.noProxyEnv" . | nindent 10 }}
          {{- end }}
          ports:
            - containerPort: 8080
              name: http
      {{- if $isOpenshiftCluster }}
      {{- else }}
      securityContext:
{{ toYaml .Values.securityContext | indent 8 }}
      {{- end }}
      serviceAccountName: pxcentral-prometheus-operator
      {{- if .Values.images.pullSecrets }}
      imagePullSecrets:
        {{- range $sec := .Values.images.pullSecrets }}
        - name: {{ $sec | quote }}
        {{- end }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
      {{- end }} 
{{- end }}
---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: portworx
    role: prometheus-portworx-rulefiles
    app.kubernetes.io/component: pxcentral-prometheus
{{- include "px-central.labels" . | nindent 4 }}
  name: prometheus-portworx-rules-portworx.rules.yaml
  namespace: {{ .Release.Namespace }}
spec:
  groups:
  - name: portworx.rules
    rules:
    - alert: PortworxVolumeUsageCritical
      annotations:
        description: {{`Portworx volume {{$labels.volumeid}} on {{$labels.host}} is over 80% used for
          more than 10 minutes.`}}
        summary: {{`Portworx volume capacity is at {{$value}}% used.`}}
      expr: 100 * (px_volume_usage_bytes / px_volume_capacity_bytes) > 80
      for: 5m
      labels:
        issue: {{`Portworx volume {{$labels.volumeid}} usage on {{$labels.host}} is high.`}}
        severity: critical
    - alert: PortworxVolumeUsage
      annotations:
        description: {{`Portworx volume {{$labels.volumeid}} on {{$labels.host}} is over 70% used for
          more than 10 minutes.`}}
        summary: {{`Portworx volume {{$labels.volumeid}} on {{$labels.host}} is at {{$value}}% used.`}}
      expr: 100 * (px_volume_usage_bytes / px_volume_capacity_bytes) > 70
      for: 5m
      labels:
        issue: {{`Portworx volume {{$labels.volumeid}} usage on {{$labels.host}} is critical.`}}
        severity: warning
    - alert: PortworxVolumeWillFill
      annotations:
        description: {{`Disk volume {{$labels.volumeid}} on {{$labels.host}} is over 70% full and has
          been predicted to fill within 2 weeks for more than 10 minutes.`}}
        summary: {{`Portworx volume {{$labels.volumeid}} on {{$labels.host}} is over 70% full and is
          predicted to fill within 2 weeks.`}}
      expr: (px_volume_usage_bytes / px_volume_capacity_bytes) > 0.7 and predict_linear(px_cluster_disk_available_bytes[1h],
        14 * 86400) < 0
      for: 10m
      labels:
        issue: {{`Disk volume {{$labels.volumeid}} on {{$labels.host}} is predicted to fill within
          2 weeks.`}}
        severity: warning
    - alert: PortworxStorageUsageCritical
      annotations:
        description: {{`Portworx storage {{$labels.volumeid}} on {{$labels.host}} is over 80% used
          for more than 10 minutes.`}}
        summary: {{`Portworx storage capacity is at {{$value}}% used.`}}
      expr: 100 * (1 - px_cluster_disk_utilized_bytes / px_cluster_disk_total_bytes)
        < 20
      for: 5m
      labels:
        issue: {{`Portworx storage {{$labels.volumeid}} usage on {{$labels.host}} is high.`}}
        severity: critical
    - alert: PortworxStorageUsage
      annotations:
        description: {{`Portworx storage {{$labels.volumeid}} on {{$labels.host}} is over 70% used
          for more than 10 minutes.`}}
        summary: {{`Portworx storage {{$labels.volumeid}} on {{$labels.host}} is at {{$value}}% used.`}}
      expr: 100 * (1 - (px_cluster_disk_utilized_bytes / px_cluster_disk_total_bytes))
        < 30
      for: 5m
      labels:
        issue: {{`Portworx storage {{$labels.volumeid}} usage on {{$labels.host}} is critical.`}}
        severity: warning
    - alert: PortworxStorageWillFill
      annotations:
        description: {{`Portworx storage {{$labels.volumeid}} on {{$labels.host}} is over 70% full
          and has been predicted to fill within 2 weeks for more than 10 minutes.`}}
        summary: {{`Portworx storage {{$labels.volumeid}} on {{$labels.host}} is over 70% full and
          is predicted to fill within 2 weeks.`}}
      expr: (100 * (1 - (px_cluster_disk_utilized_bytes / px_cluster_disk_total_bytes)))
        < 30 and predict_linear(px_cluster_disk_available_bytes[1h], 14 * 86400) <
        0
      for: 10m
      labels:
        issue: {{`Portworx storage {{$labels.volumeid}} on {{$labels.host}} is predicted to fill within
          2 weeks.`}}
        severity: warning
    - alert: PortworxStorageNodeDown
      annotations:
        description: Portworx Storage Node has been offline for more than 5 minutes.
        summary: Portworx Storage Node is Offline.
      expr: max(px_cluster_status_nodes_storage_down) > 0
      for: 5m
      labels:
        issue: Portworx Storage Node is Offline.
        severity: critical
    - alert: PortworxQuorumUnhealthy
      annotations:
        description: Portworx cluster Quorum Unhealthy for more than 5 minutes.
        summary: Portworx Quorum Unhealthy.
      expr: max(px_cluster_status_cluster_quorum) > 1
      for: 5m
      labels:
        issue: Portworx Quorum Unhealthy.
        severity: critical
    - alert: PortworxMemberDown
      annotations:
        description: Portworx cluster member(s) has(have) been down for more than
          5 minutes.
        summary: Portworx cluster member(s) is(are) down.
      expr: (max(px_cluster_status_cluster_size) - count(px_cluster_status_cluster_size))
        > 0
      for: 5m
      labels:
        issue: Portworx cluster member(s) is(are) down.
        severity: critical
---
apiVersion: v1
kind: Service
metadata:
  name: pxcentral-prometheus
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: pxcentral-prometheus
{{- include "px-central.labels" . | nindent 4 }}
spec:
  ports:
    - name: web
      port: 9090
      targetPort: 9090
  selector:
    prometheus: pxcentral-prometheus
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  namespace: {{ .Release.Namespace }}
  name: pxcentral-portworx
  labels:
    name: portworx
    prometheus: portworx
    app.kubernetes.io/component: pxcentral-prometheus
{{- include "px-central.labels" . | nindent 4 }}
spec: 
  selector:
    matchLabels:
      name: portworx
  namespaceSelector:
    any: true
  endpoints:
  - port: px-api
  - port: px-kvdb
{{- end -}}