
{{- if (.Values.serviceAccount.hook.create) }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "px.hookServiceAccount" . }}
  namespace: kube-system
  annotations:
    "helm.sh/hook-delete-policy": before-hook-creation
    "helm.sh/hook": "pre-delete,post-delete,post-install"
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{.Release.Service | quote }}
    app.kubernetes.io/instance: {{.Release.Name | quote }}
    chart: "{{.Chart.Name}}-{{.Chart.Version}}"
---
kind: ClusterRole
apiVersion: {{ template "rbac.apiVersion" . }}
metadata:
  annotations:
    "helm.sh/hook-delete-policy": before-hook-creation
    "helm.sh/hook": "pre-delete,post-delete"
  name: {{ template "px.hookClusterRole" . }}
rules:
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["patch", "get", "update", "list"]
---
kind: ClusterRoleBinding
apiVersion: {{ template "rbac.apiVersion" . }}
metadata:
  annotations:
    "helm.sh/hook-delete-policy": before-hook-creation
    "helm.sh/hook": "pre-delete,post-delete"
  name: {{ template "px.hookClusterRoleBinding" . }}
subjects:
  - kind: ServiceAccount
    name: {{ template "px.hookServiceAccount" . }}
    namespace: kube-system
roleRef:
  kind: ClusterRole
  name: {{ template "px.hookClusterRole" . }}
  apiGroup: rbac.authorization.k8s.io
{{- if (.Values.api.enabled) and (.Values.dynamicProvision.enabled) }}
---
kind: Role
apiVersion: {{ template "rbac.apiVersion" . }}
metadata:
  annotations:
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded,hook-failed
    "helm.sh/hook": "post-install"
  name: {{ template "px.hookRole" . }}
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "watch", "list" ]
  - apiGroups: [""]
    resources: ["pods/exec"]
    verbs: ["create"]
---
kind: RoleBinding
apiVersion: {{ template "rbac.apiVersion" . }}
metadata:
  annotations:
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded,hook-failed
    "helm.sh/hook": "post-install"
  name: {{ template "px.hookRoleBinding" . }}
subjects:
  - kind: ServiceAccount
    name: {{ template "px.hookServiceAccount" . }}
    namespace: kube-system
roleRef:
  kind: Role
  name: {{ template "px.hookRole" . }}
  apiGroup: rbac.authorization.k8s.io
{{- end }}
{{- end }}