{{/* Setting defaults if they are omitted. */}}
{{- $pxBackupEnabled := .Values.pxbackup.enabled | default false }}
{{- $externalPersistentStorageEnabled := .Values.persistentStorage.enabled | default false }}
{{- $isOpenshiftCluster := or .Values.isOpenshift (.Capabilities.APIVersions.Has "apps.openshift.io/v1") -}}
{{- $mongoCacheSize := int .Values.persistentStorage.mongoCacheSize}}
{{- $azureProxyEnabled := .Values.proxy.azureProxyEnabled | default false }}
{{- if eq $pxBackupEnabled true }}
apiVersion: v1
kind: Service
metadata:
  name: pxc-backup-mongodb-headless
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: pxc-backup-mongodb
{{- include "px-central.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
    - name: mongodb
      port: 27017
      targetPort: mongodb
  selector:
    app.kubernetes.io/component: pxc-backup-mongodb
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: pxc-backup-mongodb
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: pxc-backup-mongodb
{{- include "px-central.labels" . | nindent 4 }}
secrets:
  - name: pxc-backup-mongodb
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: pxc-backup-mongodb
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: pxc-backup-mongodb
{{- include "px-central.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{.Release.Name }}
      app.kubernetes.io/instance: {{.Release.Name }}
      app.kubernetes.io/managed-by: {{.Release.Service }}
      app.kubernetes.io/component: pxc-backup-mongodb
  serviceName: pxc-backup-mongodb-headless
  podManagementPolicy: Parallel
  replicas: 3
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      {{- if and (eq $azureProxyEnabled true) (not (has "pxc-backup-mongodb" .Values.proxy.excludeAzureProxyList)) }}
      annotations:
        kubernetes.azure.com/no-http-proxy-vars: "true"
      {{- end }}
      labels:
        app.kubernetes.io/name: {{.Release.Name }}
        app.kubernetes.io/instance: {{.Release.Name }}
        app.kubernetes.io/managed-by: {{.Release.Service }}
        app.kubernetes.io/component: pxc-backup-mongodb
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              {{- if .Values.nodeAffinityLabel }}
              - key: {{ .Values.nodeAffinityLabel }}
                operator: Exists
              {{- else }}
              - key: pxbackup/enabled
                operator: NotIn
                values:
                - "false"
              {{- end }}
        podAntiAffinity:
          {{- if eq .Values.podAntiAffinity true }}
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                  - pxc-backup-mongodb
              topologyKey: kubernetes.io/hostname
          {{- else }}
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                  - key: app.kubernetes.io/component
                    operator: In
                    values:
                    - pxc-backup-mongodb
                topologyKey: kubernetes.io/hostname
          {{- end }}
      {{- if eq .Values.storkRequired true }}
      schedulerName: stork
      {{- end }}
      {{- if .Values.images.pullSecrets }}
      imagePullSecrets:
        {{- range $sec := .Values.images.pullSecrets }}
        - name: {{ $sec | quote }}
        {{- end }}
      {{- end }}
      serviceAccountName: pxc-backup-mongodb
      {{- if $isOpenshiftCluster}}
      {{- else }}
      securityContext:
{{ toYaml .Values.securityContext | indent 8 }}
      {{- end }}
      containers:
        - name: mongodb
          image: {{ printf "%s/%s/%s:%s" (default .Values.images.mongodbImage.registry .Values.images.registry) (default .Values.images.mongodbImage.repo .Values.images.repo) .Values.images.mongodbImage.imageName .Values.images.mongodbImage.tag }}
          imagePullPolicy: {{ .Values.images.pullPolicy }}
          command:
            - /scripts/setup.sh
          {{- if or (eq $azureProxyEnabled true) (.Values.proxy.httpProxy.noProxy) }}
          args:
            - export MONGODB_INITIAL_PRIMARY_HOST=pxc-backup-mongodb-0.$(K8S_SERVICE_NAME) && export MONGODB_ADVERTISED_HOSTNAME=$(MY_POD_NAME).$(K8S_SERVICE_NAME) && /scripts/setup.sh
          {{- end }}
          env:
          {{- include "serviceMesh.env" . | nindent 12 }}
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: MY_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: K8S_SERVICE_NAME
              value: pxc-backup-mongodb-headless
            - name: MONGODB_INITIAL_PRIMARY_HOST
              value: pxc-backup-mongodb-0.$(K8S_SERVICE_NAME)
            - name: MONGODB_REPLICA_SET_NAME
              value: rs0
            - name: MONGODB_ADVERTISED_HOSTNAME
              value: $(MY_POD_NAME).$(K8S_SERVICE_NAME)
            - name: MONGODB_DATA_DIR
              value: /data/db
            - name: MONGODB_USERNAME
              valueFrom:
                secretKeyRef:
                  key: mongodb-username
                  name: pxc-backup-mongodb
            - name: MONGODB_DATABASE
              value: px-backup
            - name: MONGODB_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: mongodb-password
                  name: pxc-backup-mongodb
            - name: MONGODB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: mongodb-root-password
                  name: pxc-backup-mongodb
            - name: MONGODB_REPLICA_SET_KEY
              valueFrom:
                secretKeyRef:
                  key: mongodb-replica-set-key
                  name: pxc-backup-mongodb
            - name: MONGODB_CACHE_SIZE
              value: "{{ $mongoCacheSize }}"
            {{- if or (empty .Values.proxy.includeNoProxyList) (has "pxc-backup-mongodb" .Values.proxy.includeNoProxyList) }}
            {{- include "proxy.proxyEnv" . | nindent 12 }}
            {{- end }}
          ports:
            - containerPort: 27017
              name: mongodb
              protocol: TCP
          livenessProbe:
            exec:
              command:
              - bash
              - -ec
              - |
                mongosh --eval 'db.adminCommand("ping") && db.hello().isWritablePrimary || db.hello().secondary' | grep -q 'true'            
            failureThreshold: 6
            initialDelaySeconds: 600
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            exec:
              command:
              - bash
              - -ec
              - |
                mongosh --eval 'db.hello().isWritablePrimary || db.hello().secondary' | grep -q 'true'
            failureThreshold: 6
            initialDelaySeconds: 60
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          volumeMounts:
            - mountPath: /data/db
              name: pxc-mongodb-data
              subPath: data/db
            - mountPath: /scripts/setup.sh
              name: scripts
              subPath: setup.sh
          {{- if .Values.proxy.configSecretName }}
            - mountPath: /etc/ssl/certs/proxy-ca.pem
              subPath: proxy-ca.pem
              name: proxy-ca-volume
              readOnly: true
          {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: scripts
          configMap:
            defaultMode: 493
            name: pxc-backup-mongodb-scripts
        {{- if eq $externalPersistentStorageEnabled false }}
        - name: pxc-mongodb-data
          emptyDir: {}
        {{- end }}
      {{- if .Values.proxy.configSecretName }}
        - name: proxy-ca-volume
          secret:
            items:
            - key: CA
              path: proxy-ca.pem
            optional: true
            secretName: {{ .Values.proxy.configSecretName }}
      {{- end }}
  {{- if eq $externalPersistentStorageEnabled true }}
  volumeClaimTemplates:
    - metadata:
        name: pxc-mongodb-data
      spec:
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: {{ .Values.persistentStorage.mongodbVolumeSize }}
        {{- if .Values.persistentStorage.storageClassName }}
        storageClassName: {{ .Values.persistentStorage.storageClassName }}
        {{- end }}
  {{- end }}
{{- end -}}